* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region Utilities */

:root {
    --primary:#080b12 ;
    --secondary : #141922 ;
    --light : #fefefe; 
    --foot : #282828;
    --upgrade: #080b12;
}


.d_flex {
    display: flex;
}

.direction_column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

img {
    max-width: 100%;
}



/* #endregion Utilities */




/* #region debug */

.debug .bar_top {
    background-color:var(--secondary);
}

.debug footer {
    background-color: var(--foot);
}

.debug .sidebar {
    background-color:var(--primary);
}

.debug .content {
    background-color: var(--secondary);
}

.debug .sidebar_bottom {
    background-color: var(--light);
}
.debug .upgrade {
    background-color: var(--upgrade);
    
}





/* #endregion debug */

/* #region Layout */
.bar_top {
    height: calc(100vh - 70px);
    display: flex;
}

.bar_top > .sidebar {
    width: 70px;
    overflow: hidden;
    background-color:var(--primary);
}


.bar_top .sidebar_top {
    height: calc(100% - 60px)
}

.bar_top .sidebar_bottom {
    height: 60px;
}

.bar_top > .content {
    width: calc(100% - 70px);
    overflow-y: auto;
    background-color: var(--secondary);
}

.bar_top > .content .upgrade {
    height: 60px;
    background-color: var(--upgrade);
}





footer.bar_bottom {
    height: 70px;
}


/* #endregion Layout */


/* #region Responsive 768 */
@media screen and (min-width: 768px) {
    .bar_top > .sidebar {
       width: 140px;
    }
    
    .bar_top > .content {
        width: calc(100% - 140px);
    }

    
}

@media screen and (min-width:1200px) {
    .bar_top > .sidebar {
        width: 210px;
     }
     
     .bar_top > .content {
         width: calc(100% - 210px);
     }
 
    
}






/* #endregion Responsive 768 */



